* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

a {                                           
    color: inherit;
    text-decoration: inherit;
} /* this takes away the blue and purple/underline on hyper links*/

.header-container {
        display: flex;
        color: white;
        background: url(images/headerbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
}
.main-header { 
    height: 250px;
    width: 150px;
    display: flex;
    flex: 1;
    
}


.logo-text {
    display: flex;
    font-size: 24px;
    align-items: center;
    flex-grow: 4;
    
}

.header-link {
    display: flex;
    font-size: 16px;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    justify-items: center;
    cursor: auto;
}

.hthree {
    flex-grow: 2;
    
    
}

.mainbody-container {
    display: flex;
    background: #1F2937;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    


    
}

.main-moto {
    display: flex;
    flex-direction: column;
    font-size:48px;
    color: white;
    font-weight: bolder;
    width: 500px;
    padding: 30px;
    flex-grow: 0;
    flex-shrink: 0;
}

.main-point {
    display: flex;
    padding-top: 30px;
    font-size: 18px;
    font-weight: normal;
    
    
}

button {
    color: rgb(7, 6, 6);
    background-color:#E5E7EB;
    
    border-radius: 10px;
    padding: 0px;
    width: 125px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    

    
    
}
.main-img  {
display: flex;
padding-left: 50px;
justify-content: center;



flex:1;

}

.happy-elly{
    margin-left: 60px; 
    border: 3px solid white;
    
}
.lowerbody-container{
    display: flex;
    height: 600px;
    background: url(images/lb-background3.jpg);
    background-repeat: no-repeat;
    background-size:1200px 550px;
    background-position: center;
    justify-content: space-evenly;
    align-items: center;

    
}
.lbtitle-container {


    
}
.lowerbody-title {
    display: flex;
    font: 48px black ;
    font-weight: bolder;
    justify-content: center;
    padding: 20px;
    
}
.mini-image{
    display: flex;
    border: 2px solid white;
}
.one {
    width: 250px;
    height: 250px;
    background: url(images/happy-elly.jpg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    background-position: center;
    align-items: first baseline;
}
.two {
    width: 250px;
    height: 250px;
    background: url(images/lb-tiger.jpg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    background-position: center;
}

.three {
    width: 250px;
    height: 250px;
    background: url(images/lb-whale.jpg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    background-position: center;
}

.four {
    width: 250px;
    height: 250px;
    background: url(images/lb-penguins.jpg);
    background-repeat: no-repeat;
    background-size:250px 250px;
    background-position: center;
}
.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 400px;
    color: #1F2937;
    justify-content: center;
    

}

.main-quote {

    display: flex;
    font-size: 36px;
    font-style: italic;
    width: 600px;
    height: auto;
    align-self: center;

}

.quote-author {
    display: flex;
    padding-top: 30px;
    font-size: 28px;
    font-weight: bold;
    align-self:center;
    
}
.call-to-action-container {
    display: flex;
    height: 300px;
    justify-content: center;
    
}

.cta-second-container {
    display: flex;
    width: 900px;
    height: 150px;
    background: url(images/lowerbg1.jpg);
    color: #E5E7EB;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke: #3882f6;
    align-self: center;
    border-radius: 10px;
    flex-direction: column;

    

    
   
}
.main-cta {
    display: flex;
    max-width: max-content;
    font-size: 30px;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 200px;
    margin-top: 30px;

   
   
}

.lower-cta {
    display: flex;
    max-width: max-content;
    font-size: 27px;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 200px;

}
.button-two-edit {
    display: flex;
    align-self:flex-end;
    margin-right: 60px;

}

footer {
    color: #E5E7EB;
    background: url(images/headerbg.jpg);
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    height: 100px;
    border: 1px solid black;
    
}


