* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.header-container {
        display: flex;
        color: white;
        background: #1F2937;
        padding: 20px 0;
}
.main-header { 
    height: 250px;
    width: 150px;
    display: flex;
    flex: 1;
    
}


.logo-text {
    display: flex;
    font-size: 24px;
    align-items: center;
    flex-grow: 4;
    
}

.header-link {
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    justify-items: center;
    cursor: pointer;
}

.hthree {
    flex-grow: 2;
    
    
}

.mainbody-container {
    display: flex;
    background: #1F2937;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    


    
}

.main-moto {
    display: flex;
    flex-direction: column;
    font-size:48px;
    color: white;
    font-weight: bolder;
    width: 500px;
    padding: 30px;
    flex-grow: 0;
    flex-shrink: 0;
}

.main-point {
    display: flex;
    padding-top: 30px;
    font-size: 18px;
    font-weight: normal;
    
    
}

button {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 0px;
    width: 125px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    

    
    
}
.main-img  {
display: flex;
padding-left: 50px;
justify-content: center;



flex:1;

}

.happy-elly{
    margin-left: 60px; 
    border: 3px solid white;
    
}